@import './variables.scss';
@import './mixins.scss';
@import './member.scss';
@import './act.scss';
@import './home.scss';
@import './team.scss';
@import './volunteer.scss';
@import './event.scss';
@import './eventSlider.scss';
@import './watch.scss';
@import './links.scss';
@import './desktopNavigation.scss';
@import './mobileNavigation.scss';
@import './composition.scss';
@import './threats.scss';
@import './learn.scss';
@import './contact.scss';
@import './eventPage.scss';
@import './podcast.scss';
@import './podcastCard.scss';
@import './newsCard.scss';
@import './news.scss';

// CSS Resets
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
// Global Styles
.icon {
  margin-left: 5px;
  transform: translateY(-2.5px);
}
button {
  cursor: pointer;
  border: none;
  background: $blue;
  color: $white;
  font-family: $raleway-extrabold;
}
.main_button {
  cursor: pointer;
  border: none;
  min-width: 225px;
  text-align: center;
  color: $white;
  background: $blue;
  font-family: $raleway-extrabold;
  font-size: 18px;
  letter-spacing: 1px;
  height: 50px;
  margin-top: 25px;
  margin-right: 25px;
  transition: $fast;
  &:hover {
    background: $darkgreen;
  }
  @include mQ(1200px) {
    margin: 25px 12.5px 0 12.5px;
  }
}
.line {
  width: 75px;
  height: 2px;
  background: $red;
  margin: 15px 0 25px;
  border-radius: 2px;
}
a {
  text-decoration-color: $blue;
}

// All Article Styles
.article_container {
  padding: 50px 0;
  width: 100%;
  text-align: center;
  img {
    width: 100%;
    margin-top: 25px;
    max-width: 960px;
  }
  .image_caption {
    font-family: $raleway-regular;
    color: $grey;
    margin: 5px auto 34px;
    font-size: 14px;
    width: 94%;
    max-width: 960px;
  }
}
.article_section {
  text-align: left;
  width: 960px;
  margin: 0 auto 25px;
  @include mQ(1150px) {
    width: 94%;
    h1 {
      font-size: 36px !important;
    }
  }
  h1 {
    line-height: 1;
    font-family: $voltage;
    color: $blue;
    font-size: 48px;
    padding-bottom: 10px;
  }
  h3 {
    font-family: $raleway-bold;
    color: $blue;
    padding-bottom: 10px;
  }
  h4 {
    color: $lightgreen;
    font-family: $raleway-bold;
    line-height: 2;
    font-size: 16px;
  }
  p {
    font-family: $raleway-regular;
    line-height: 2;
    font-size: 16px;
    color: $blue;
  }
}

.triangle_down {
  width: 150px;
  margin: 50px auto 0;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-top: 20px solid $mediumgreen;
}
.triangle_right {
  height: 150px;
  margin: 0 25px;
  border-bottom: 75px solid transparent;
  border-top: 75px solid transparent;
  border-left: 20px solid $darkgreen;
}
