@import "variables";
@import "mixins";

.article_content {
  max-width: 960px;
  font-family: $raleway-regular;
  margin: 50px auto;
  .article_image_container {
    text-align: center;
    img {
      max-width: 100%;
      padding-bottom: 25px;
    }
  }
  h1 {
    font-size: 48px;
    font-family: $voltage !important;
    font-weight: lighter;
    line-height: 1;
    color: $blue;
    margin-bottom: 50px;
    text-align: left !important;
  }
  u {
    text-align: left !important;
    color: $blue;
    cursor: pointer;
  }
  h2 {
    color: $mediumgreen;
    padding-top: 40px;
    padding-bottom: 10px;
    text-align: left !important;
  }
  p {
    font-size: 16px;
    line-height: 2;
    color: $blue;
    text-align: left !important;
    max-width: 100%;
    overflow-x: hidden;
    img {
      max-width: 100%;
      margin: 25px 0 25px 50%;
      transform: translateX(-50%);
      height: auto;
    }
  }
  audio {
    margin-bottom: 25px;
    margin-top: -25px;
  }
  figure {
    text-align: center !important;
    padding: 25px 0;
    width: 100% !important;
    em {
      color: $grey;
      font-size: 14px;
    }
    img {
      height: auto;
      max-width: 100%;
      padding-bottom: 0 !important;
    }
  }
  @include mQ(1100px) {
    padding: 0 3%;
    h1 {
      font-size: 31px;
    }
    h2 {
      font-size: 18px;
    }
  }
}
