@import 'variables';
@import 'mixins';

.contact {
  .contact_header {
    background-image: url('/static/images/ws_contact_header.svg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $mediumgreen;
    overflow-x: hidden;
    h1 {
      @include headerBold;
      padding: 8% 0;
      @include mQ(1350px) {
        padding: 100px 0;
      }
    }
  }
  .contact_content {
    padding-top: 75px;
    width: 960px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .contact_content_left {
      width: 100%;
      max-width: 720px;
      .main_button {
        margin-right: 0 !important;
      }
      .article_section {
        width: 100% !important;
      }
    }
    .contact_content_right {
      width: 20%;
      .content_icon_section {
        text-align: center;
        margin-bottom: 50px;
        p {
          font-family: $raleway-regular;
          font-size: 18px;
        }
        .contact_icon {
          width: 50px;
          margin-bottom: 5px;
        }
      }
      .contact_social {
        text-align: center;
        .contact_social_icon {
          color: $darkgreen;
          margin-right: 10px;
        }
      }
    }
    // Contact wrapper
    @include mQ(1100px) {
      width: 94%;
      display: block;
      text-align: center !important;
      .contact_content_left {
        margin: auto;
        .article_section {
          text-align: center;
          .line {
            margin: 15px auto 25px;
          }
        }
      }
      .contact_content_right {
        margin-top: 50px;
        width: 100%;
      }
    }
  }
}

// Contact form styles, the form itself is a separate component
.contact_form {
  width: 100%;
  input,
  textarea {
    width: 100%;
    font-family: $raleway-regular;
    font-size: 16px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid $grey;
  }
  input {
    margin-bottom: 15px;
    height: 56px;
    padding: 20px 0 20px 15px;
  }
  textarea {
    padding: 15px 0 20px 15px;
    height: 150px;
    resize: none;
  }
}
