@import 'variables';
@import 'mixins';

.desktop_navigation {
  z-index: 9999;
  width: 100%;
  background: $lightgreen;
  text-align: center;
  padding-top: 25px;
  // position: relative;
  position: sticky !important;
  top: 0;
  img {
    width: 250px;
  }
}
