@import "variables";
@import "mixins";

.event_slider_wrapper {
  background: $blue;
  padding: 35px 0;
  min-height: 475px;
  @include mQ(1640px) {
    min-height: 410px !important;
  }
  @include mQ(575px) {
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;

    padding: 0;
  }
  .event_slider {
    width: 1525px;
    margin: auto;
    h1 {
      color: $white;
      font-family: $raleway-regular;
      text-align: center;
      font-size: 28px;
      margin: auto;
      padding: 50px 3%;
      line-height: 1.25;
    }
    @include mQ(1640px) {
      width: 1300px;
    }
    @include mQ(1420px) {
      width: 875px;
    }
    @include mQ(1000px) {
      width: 450px;
      h1 {
        font-size: 22px;
      }
    }
    @include mQ(575px) {
      width: 100%;
    }
  }
}
