@import "variables";
@import "mixins";

.event {
  border-radius: 5px;
  width: 475px;
  height: 475px;
  @include mQ(1640px) {
    height: 410px;
    width: 410px;
  }
  @include mQ(575px) {
    width: 100%;
    border-radius: 0;
    .event_header {
      border-radius: 0 !important;
    }
  }
  background-color: $white;
  margin: auto;
  .event_header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 60%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    .event_date_banner {
      padding-top: 5%;
      display: flex;
      align-items: center;
      .event_date {
        font-family: $raleway-bold;
        height: 40px;
        padding: 10px 0;
        text-align: center;
        font-size: 16px;
        width: 45%;
        background: $yellow;
        color: $blue;
      }
      .tail {
        border-top: 20px solid $yellow;
        border-bottom: 20px solid $yellow;
        border-right: 10px solid transparent;
        height: 0;
        width: 0;
      }
    }
  }
  .event_footer {
    height: 40%;
    width: 95%;
    margin: auto;
    text-align: center;
    .event_footer_content {
      padding: 20px 0;
      h4 {
        font-size: 16px;
        color: $blue;
        font-family: $raleway-bold;
      }
      p {
        font-size: 15px;
        color: $grey;
        font-family: $raleway-regular;
        @include Ellipsis($lineHeight: 1.2em, $lineCount: 3, $bgColor: white);
        @include mQ(1640px) {
          @include Ellipsis($lineHeight: 1.2em, $lineCount: 2, $bgColor: white);
        }
      }
      button {
        padding: 10px 20px;
      }
    }
  }
}
