@import 'variables';
@import 'mixins';

.learn {
  .learn_header {
    background-image: url('/static/images/ws_learn_header.svg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $mediumgreen;
    overflow-x: hidden;
    h1 {
      @include headerBold;
      padding: 8% 0;
      @include mQ(1350px) {
        padding: 100px 0;
      }
    }
  }
}
