@import 'variables';
@import 'mixins';

.links {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 25px;
  font-family: $raleway-extrabold;
  position: sticky;
  top: 0;
  background: $lightgreen;
  z-index: 9999;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.25);
  a {
    text-decoration: none;
  }
  li {
    font-size: 16px;
    transition: $slow;
    cursor: pointer;
    letter-spacing: 2px;
    color: $white;
    padding: 0px 18px 25px;
  }
  .dropdown {
    position: relative;
    ul {
      min-width: 270px;
      display: none;
      position: absolute;
      top: 44px;
      left: 15px;
      text-align: left;
      li {
        padding: 20px;
        background: $lightgreen;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        &:hover {
          background: $mediumgreen;
        }
      }
    }
    &:hover {
      ul {
        display: block;
      }
    }
  }
}
