// Import fonts
@font-face {
  font-family: "volt";
  src: url("/static/fonts/Voltage Bold.otf");
}
@font-face {
  font-family: "raleway-extrabold";
  src: url("/static/fonts/Raleway-ExtraBold.ttf");
}

@font-face {
  font-family: "raleway-light";
  src: url("/static/fonts/Raleway-Light.ttf");
}
@font-face {
  font-family: "raleway-regular";
  src: url("/static/fonts/Raleway-Regular.ttf");
}

// Fonts
$voltage: "volt", sans-serif;
$raleway-extrabold: "raleway-extrabold";
$raleway-light: "raleway-light";
$raleway-regular: "raleway-regular";

// Colors
$blue: #002d49;
$lightgreen: #8fc5bc;
$mediumgreen: #76b3a8;
$darkgreen: #58aa9c;
$white: white;

// Transitions
$fast: 0.1s;
$slow: 0.3s;

// Breakpoints
$tablet: 1200px;
$mobile-large: 960px;
$mobile-small: 450px;
