@font-face {
  font-family: 'volt';
  src: url("/static/fonts/Voltage Bold.otf"); }

@font-face {
  font-family: 'raleway-extrabold';
  src: url("/static/fonts/Raleway-ExtraBold.ttf"); }

@font-face {
  font-family: 'raleway-light';
  src: url("/static/fonts/Raleway-Light.ttf"); }

@font-face {
  font-family: 'raleway-regular';
  src: url("/static/fonts/Raleway-Regular.ttf"); }

@font-face {
  font-family: 'raleway-bold';
  src: url("/static/fonts/Raleway-Bold.ttf"); }

.US1i8ceJRbcsr53kzy92p {
  z-index: 9999;
  position: relative;
  width: 100%;
  background: #a6d5cd;
  text-align: center;
  padding-top: 40px; }
  .US1i8ceJRbcsr53kzy92p img {
    width: 300px; }
  .US1i8ceJRbcsr53kzy92p ._3HeJm-bNSzK_5JvLuBf17V {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 40px;
    font-family: "raleway-extrabold"; }
    .US1i8ceJRbcsr53kzy92p ._3HeJm-bNSzK_5JvLuBf17V li {
      font-size: 16px;
      transition: 0.1s;
      cursor: pointer;
      letter-spacing: 2px;
      color: white;
      padding: 0px 18px 25px; }
    .US1i8ceJRbcsr53kzy92p ._3HeJm-bNSzK_5JvLuBf17V ._2-zPZJFoR7NRFQv6tTyodg {
      position: relative; }
      .US1i8ceJRbcsr53kzy92p ._3HeJm-bNSzK_5JvLuBf17V ._2-zPZJFoR7NRFQv6tTyodg ul {
        min-width: 270px;
        display: none;
        position: absolute;
        top: 44px;
        left: 15px;
        text-align: left; }
        .US1i8ceJRbcsr53kzy92p ._3HeJm-bNSzK_5JvLuBf17V ._2-zPZJFoR7NRFQv6tTyodg ul li {
          padding: 20px;
          background: #a6d5cd;
          border-top: 1px solid white; }
          .US1i8ceJRbcsr53kzy92p ._3HeJm-bNSzK_5JvLuBf17V ._2-zPZJFoR7NRFQv6tTyodg ul li:hover {
            background: #76b3a8; }
      .US1i8ceJRbcsr53kzy92p ._3HeJm-bNSzK_5JvLuBf17V ._2-zPZJFoR7NRFQv6tTyodg:hover ul {
        display: block; }

@font-face {
  font-family: 'volt';
  src: url("/static/fonts/Voltage Bold.otf"); }

@font-face {
  font-family: 'raleway-extrabold';
  src: url("/static/fonts/Raleway-ExtraBold.ttf"); }

@font-face {
  font-family: 'raleway-light';
  src: url("/static/fonts/Raleway-Light.ttf"); }

@font-face {
  font-family: 'raleway-regular';
  src: url("/static/fonts/Raleway-Regular.ttf"); }

@font-face {
  font-family: 'raleway-bold';
  src: url("/static/fonts/Raleway-Bold.ttf"); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

li {
  list-style: none; }

._20QzFcLPlWfMAa4oCl1rkM {
  margin-left: 5px;
  transform: translateY(-2.5px); }

button {
  cursor: pointer;
  border: none;
  background: #032c4a;
  color: white;
  font-family: "raleway-extrabold"; }

._2UxR3fjEklPY0IlBPttLXV {
  cursor: pointer;
  border: none;
  min-width: 225px;
  text-align: center;
  color: white;
  background: #032c4a;
  font-family: "raleway-extrabold";
  font-size: 18px;
  letter-spacing: 1px;
  height: 50px;
  margin-top: 25px;
  margin-right: 25px; }

html {
  background: #76b3a8; }

@font-face {
  font-family: 'volt';
  src: url("/static/fonts/Voltage Bold.otf"); }

@font-face {
  font-family: 'raleway-extrabold';
  src: url("/static/fonts/Raleway-ExtraBold.ttf"); }

@font-face {
  font-family: 'raleway-light';
  src: url("/static/fonts/Raleway-Light.ttf"); }

@font-face {
  font-family: 'raleway-regular';
  src: url("/static/fonts/Raleway-Regular.ttf"); }

@font-face {
  font-family: 'raleway-bold';
  src: url("/static/fonts/Raleway-Bold.ttf"); }

._2V92VTr4YTW0IIYKc_Xq9G {
  z-index: 9999;
  position: relative;
  width: 100%;
  background: #a6d5cd;
  text-align: center;
  padding: 15px 0; }
  ._2V92VTr4YTW0IIYKc_Xq9G img {
    max-width: 200px;
    width: 40%; }
  ._2V92VTr4YTW0IIYKc_Xq9G ._3jdSyCwLqAQe7ns5-jGDp2 input[type="checkbox"] {
    display: none; }
  ._2V92VTr4YTW0IIYKc_Xq9G ._3jdSyCwLqAQe7ns5-jGDp2 input:checked ~ .OpxTQCv7b2-c1a4LMQJ5y {
    display: block; }
  ._2V92VTr4YTW0IIYKc_Xq9G ._3jdSyCwLqAQe7ns5-jGDp2 .fOmxWBG9x_fvW-E4hqkNu {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 9999; }
  ._2V92VTr4YTW0IIYKc_Xq9G ._3jdSyCwLqAQe7ns5-jGDp2 label {
    cursor: pointer; }
    ._2V92VTr4YTW0IIYKc_Xq9G ._3jdSyCwLqAQe7ns5-jGDp2 label ._1YxvQe_SuqV4LKU8RBrea6 {
      background: white;
      height: 2px;
      width: 40px;
      border-radius: 2px; }
    ._2V92VTr4YTW0IIYKc_Xq9G ._3jdSyCwLqAQe7ns5-jGDp2 label ._1YxvQe_SuqV4LKU8RBrea6:nth-child(2) {
      margin: 7px 0; }
  ._2V92VTr4YTW0IIYKc_Xq9G ._3jdSyCwLqAQe7ns5-jGDp2 .OpxTQCv7b2-c1a4LMQJ5y {
    padding-top: 50px;
    background: #a6d5cd;
    position: absolute;
    top: 0;
    left: 0;
    font-family: "raleway-extrabold";
    color: white;
    font-size: 16px;
    letter-spacing: 2px;
    display: none;
    width: 100%;
    text-align: center;
    cursor: pointer; }
    ._2V92VTr4YTW0IIYKc_Xq9G ._3jdSyCwLqAQe7ns5-jGDp2 .OpxTQCv7b2-c1a4LMQJ5y label {
      user-select: none; }
    ._2V92VTr4YTW0IIYKc_Xq9G ._3jdSyCwLqAQe7ns5-jGDp2 .OpxTQCv7b2-c1a4LMQJ5y li {
      border-top: 1px solid #aad1cb;
      padding: 15px 0; }
      ._2V92VTr4YTW0IIYKc_Xq9G ._3jdSyCwLqAQe7ns5-jGDp2 .OpxTQCv7b2-c1a4LMQJ5y li ._3oKlwk0Ct6i_aJseielkML:checked ~ ._1LtT-JS3423vMSB8FHH4uS {
        display: block;
        margin-bottom: -15px; }
      ._2V92VTr4YTW0IIYKc_Xq9G ._3jdSyCwLqAQe7ns5-jGDp2 .OpxTQCv7b2-c1a4LMQJ5y li ._276Qcgo6Ict3BKG4g4Bh9Z:checked ~ ._3JkYMB7BPEIP-hGNd7Yfzn {
        display: block;
        margin-bottom: -15px; }
      ._2V92VTr4YTW0IIYKc_Xq9G ._3jdSyCwLqAQe7ns5-jGDp2 .OpxTQCv7b2-c1a4LMQJ5y li ._2eb_zKZVff8JOu75JBVSC-:checked ~ ._5pKsTYMcvytep-8qacxU6 {
        display: block;
        margin-bottom: -15px; }
      ._2V92VTr4YTW0IIYKc_Xq9G ._3jdSyCwLqAQe7ns5-jGDp2 .OpxTQCv7b2-c1a4LMQJ5y li ._1LtT-JS3423vMSB8FHH4uS,
      ._2V92VTr4YTW0IIYKc_Xq9G ._3jdSyCwLqAQe7ns5-jGDp2 .OpxTQCv7b2-c1a4LMQJ5y li ._3JkYMB7BPEIP-hGNd7Yfzn,
      ._2V92VTr4YTW0IIYKc_Xq9G ._3jdSyCwLqAQe7ns5-jGDp2 .OpxTQCv7b2-c1a4LMQJ5y li ._5pKsTYMcvytep-8qacxU6 {
        display: none;
        margin-top: 15px;
        padding-bottom: 0;
        background: #76b3a8; }

@font-face {
  font-family: 'volt';
  src: url("/static/fonts/Voltage Bold.otf"); }

@font-face {
  font-family: 'raleway-extrabold';
  src: url("/static/fonts/Raleway-ExtraBold.ttf"); }

@font-face {
  font-family: 'raleway-light';
  src: url("/static/fonts/Raleway-Light.ttf"); }

@font-face {
  font-family: 'raleway-regular';
  src: url("/static/fonts/Raleway-Regular.ttf"); }

@font-face {
  font-family: 'raleway-bold';
  src: url("/static/fonts/Raleway-Bold.ttf"); }

._4lkSwLZRVGCVsPJFOBMMz {
  background: #a6d5cd;
  width: 100%;
  overflow: hidden; }
  ._4lkSwLZRVGCVsPJFOBMMz img {
    width: 100%;
    transform: translateY(10px);
    z-index: 9999; }
  ._4lkSwLZRVGCVsPJFOBMMz ._3_XrnnEnEaAOuIZsZKX4Ez {
    padding-top: 100px;
    background: #032c4a;
    width: 100%;
    height: 100%; }
    ._4lkSwLZRVGCVsPJFOBMMz ._3_XrnnEnEaAOuIZsZKX4Ez .II81dVGYJYsk0xwfxxbUL {
      max-width: 1200px;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center; }
      ._4lkSwLZRVGCVsPJFOBMMz ._3_XrnnEnEaAOuIZsZKX4Ez .II81dVGYJYsk0xwfxxbUL ._2UjG9qQv--9QPZwUEAUaUs {
        display: flex;
        font-family: "raleway-light";
        color: white;
        font-size: 14px;
        line-height: 2;
        letter-spacing: 1px; }
        ._4lkSwLZRVGCVsPJFOBMMz ._3_XrnnEnEaAOuIZsZKX4Ez .II81dVGYJYsk0xwfxxbUL ._2UjG9qQv--9QPZwUEAUaUs ._3YffozXSGVJMhcexzLhQfQ {
          padding-right: 50px; }
          ._4lkSwLZRVGCVsPJFOBMMz ._3_XrnnEnEaAOuIZsZKX4Ez .II81dVGYJYsk0xwfxxbUL ._2UjG9qQv--9QPZwUEAUaUs ._3YffozXSGVJMhcexzLhQfQ .pFdmpCvSZ3o3RTyhvCoGY {
            font-family: "raleway-extrabold"; }
      ._4lkSwLZRVGCVsPJFOBMMz ._3_XrnnEnEaAOuIZsZKX4Ez .II81dVGYJYsk0xwfxxbUL ._3pYMDdIQuwbTdJTjTW46XV {
        color: white;
        padding-left: 100px; }
        ._4lkSwLZRVGCVsPJFOBMMz ._3_XrnnEnEaAOuIZsZKX4Ez .II81dVGYJYsk0xwfxxbUL ._3pYMDdIQuwbTdJTjTW46XV h3 {
          font-family: "volt", sans-serif;
          font-size: 32px;
          margin-bottom: 10px; }
        ._4lkSwLZRVGCVsPJFOBMMz ._3_XrnnEnEaAOuIZsZKX4Ez .II81dVGYJYsk0xwfxxbUL ._3pYMDdIQuwbTdJTjTW46XV ._3do0oKwmm5DduScsx6moRQ ._1UcgeGMvQcrooDGlMJyFdK {
          display: flex;
          margin-bottom: 20px; }
          ._4lkSwLZRVGCVsPJFOBMMz ._3_XrnnEnEaAOuIZsZKX4Ez .II81dVGYJYsk0xwfxxbUL ._3pYMDdIQuwbTdJTjTW46XV ._3do0oKwmm5DduScsx6moRQ ._1UcgeGMvQcrooDGlMJyFdK input {
            font-family: "raleway-regular";
            font-size: 16px;
            width: 300px;
            padding: 20px 0 20px 15px;
            border-style: none;
            border: none;
            height: 56px; }
          ._4lkSwLZRVGCVsPJFOBMMz ._3_XrnnEnEaAOuIZsZKX4Ez .II81dVGYJYsk0xwfxxbUL ._3pYMDdIQuwbTdJTjTW46XV ._3do0oKwmm5DduScsx6moRQ ._1UcgeGMvQcrooDGlMJyFdK button {
            font-family: "raleway-extrabold";
            font-size: 16px;
            width: 100px;
            height: 56px;
            border-style: none;
            background: #76b3a8;
            color: white; }
          ._4lkSwLZRVGCVsPJFOBMMz ._3_XrnnEnEaAOuIZsZKX4Ez .II81dVGYJYsk0xwfxxbUL ._3pYMDdIQuwbTdJTjTW46XV ._3do0oKwmm5DduScsx6moRQ ._1UcgeGMvQcrooDGlMJyFdK span {
            border-top: 28px solid #76b3a8;
            border-bottom: 28px solid #76b3a8;
            border-right: 10px solid transparent;
            height: 0;
            width: 0; }
        ._4lkSwLZRVGCVsPJFOBMMz ._3_XrnnEnEaAOuIZsZKX4Ez .II81dVGYJYsk0xwfxxbUL ._3pYMDdIQuwbTdJTjTW46XV ._1ddtDgE4iLHzt1YNzaom42 {
          display: flex; }
          ._4lkSwLZRVGCVsPJFOBMMz ._3_XrnnEnEaAOuIZsZKX4Ez .II81dVGYJYsk0xwfxxbUL ._3pYMDdIQuwbTdJTjTW46XV ._1ddtDgE4iLHzt1YNzaom42 p {
            font-family: "raleway-regular";
            font-size: 16px;
            line-height: 1.5; }
          ._4lkSwLZRVGCVsPJFOBMMz ._3_XrnnEnEaAOuIZsZKX4Ez .II81dVGYJYsk0xwfxxbUL ._3pYMDdIQuwbTdJTjTW46XV ._1ddtDgE4iLHzt1YNzaom42 ._3llpJn-VnyVsle7gaXvirW {
            padding-right: 50px; }
          ._4lkSwLZRVGCVsPJFOBMMz ._3_XrnnEnEaAOuIZsZKX4Ez .II81dVGYJYsk0xwfxxbUL ._3pYMDdIQuwbTdJTjTW46XV ._1ddtDgE4iLHzt1YNzaom42 ._2v2aTW2OI5pY-eu1nzU_IL ._3sBTy3kj_bWxyzHf4Iln5N {
            color: #76b3a8;
            margin-right: 20px; }
  ._4lkSwLZRVGCVsPJFOBMMz ._2MsR2gjKcVKeb8rPm7RpwW {
    color: white;
    font-family: "raleway-regular";
    font-size: 12px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 25px; }
  @media screen and (max-width: 960px) {
    ._4lkSwLZRVGCVsPJFOBMMz img {
      min-width: 600px; }
    ._4lkSwLZRVGCVsPJFOBMMz ._3_XrnnEnEaAOuIZsZKX4Ez {
      padding: 100px 3% 0; }
      ._4lkSwLZRVGCVsPJFOBMMz ._3_XrnnEnEaAOuIZsZKX4Ez .II81dVGYJYsk0xwfxxbUL {
        display: block; }
        ._4lkSwLZRVGCVsPJFOBMMz ._3_XrnnEnEaAOuIZsZKX4Ez .II81dVGYJYsk0xwfxxbUL ._2UjG9qQv--9QPZwUEAUaUs {
          justify-content: center; }
          ._4lkSwLZRVGCVsPJFOBMMz ._3_XrnnEnEaAOuIZsZKX4Ez .II81dVGYJYsk0xwfxxbUL ._2UjG9qQv--9QPZwUEAUaUs ._3YffozXSGVJMhcexzLhQfQ:nth-child(1) {
            padding-right: 10%; }
          ._4lkSwLZRVGCVsPJFOBMMz ._3_XrnnEnEaAOuIZsZKX4Ez .II81dVGYJYsk0xwfxxbUL ._2UjG9qQv--9QPZwUEAUaUs ._3YffozXSGVJMhcexzLhQfQ:nth-child(2) {
            padding-right: 0; }
        ._4lkSwLZRVGCVsPJFOBMMz ._3_XrnnEnEaAOuIZsZKX4Ez .II81dVGYJYsk0xwfxxbUL ._3pYMDdIQuwbTdJTjTW46XV {
          text-align: center;
          padding: 0;
          margin-top: 50px; }
          ._4lkSwLZRVGCVsPJFOBMMz ._3_XrnnEnEaAOuIZsZKX4Ez .II81dVGYJYsk0xwfxxbUL ._3pYMDdIQuwbTdJTjTW46XV ._3do0oKwmm5DduScsx6moRQ {
            text-align: center; }
            ._4lkSwLZRVGCVsPJFOBMMz ._3_XrnnEnEaAOuIZsZKX4Ez .II81dVGYJYsk0xwfxxbUL ._3pYMDdIQuwbTdJTjTW46XV ._3do0oKwmm5DduScsx6moRQ ._1UcgeGMvQcrooDGlMJyFdK {
              justify-content: center; }
          ._4lkSwLZRVGCVsPJFOBMMz ._3_XrnnEnEaAOuIZsZKX4Ez .II81dVGYJYsk0xwfxxbUL ._3pYMDdIQuwbTdJTjTW46XV ._1ddtDgE4iLHzt1YNzaom42 {
            justify-content: center;
            margin-top: 50px; }
            ._4lkSwLZRVGCVsPJFOBMMz ._3_XrnnEnEaAOuIZsZKX4Ez .II81dVGYJYsk0xwfxxbUL ._3pYMDdIQuwbTdJTjTW46XV ._1ddtDgE4iLHzt1YNzaom42 ._3llpJn-VnyVsle7gaXvirW {
              padding-right: 4%; }
            ._4lkSwLZRVGCVsPJFOBMMz ._3_XrnnEnEaAOuIZsZKX4Ez .II81dVGYJYsk0xwfxxbUL ._3pYMDdIQuwbTdJTjTW46XV ._1ddtDgE4iLHzt1YNzaom42 ._2v2aTW2OI5pY-eu1nzU_IL {
              padding-left: 4%; }
              ._4lkSwLZRVGCVsPJFOBMMz ._3_XrnnEnEaAOuIZsZKX4Ez .II81dVGYJYsk0xwfxxbUL ._3pYMDdIQuwbTdJTjTW46XV ._1ddtDgE4iLHzt1YNzaom42 ._2v2aTW2OI5pY-eu1nzU_IL ._3sBTy3kj_bWxyzHf4Iln5N {
                margin: 5px; }
      ._4lkSwLZRVGCVsPJFOBMMz ._3_XrnnEnEaAOuIZsZKX4Ez ._2MsR2gjKcVKeb8rPm7RpwW {
        padding-top: 50px; } }

@font-face {
  font-family: 'volt';
  src: url("/static/fonts/Voltage Bold.otf"); }

@font-face {
  font-family: 'raleway-extrabold';
  src: url("/static/fonts/Raleway-ExtraBold.ttf"); }

@font-face {
  font-family: 'raleway-light';
  src: url("/static/fonts/Raleway-Light.ttf"); }

@font-face {
  font-family: 'raleway-regular';
  src: url("/static/fonts/Raleway-Regular.ttf"); }

@font-face {
  font-family: 'raleway-bold';
  src: url("/static/fonts/Raleway-Bold.ttf"); }

.QdqAr08iIzV0N7tn1hiLA ._2iLkmMmEmfdGXdZvwLF-c9 {
  width: 100%;
  background: url("/static/images/ws_home_header.svg") no-repeat;
  background-size: cover;
  background-position: bottom;
  min-height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2%; }
  .QdqAr08iIzV0N7tn1hiLA ._2iLkmMmEmfdGXdZvwLF-c9 h1 {
    max-width: 1100px;
    color: white;
    font-family: "raleway-regular";
    font-size: 48px;
    text-align: center; }
    .QdqAr08iIzV0N7tn1hiLA ._2iLkmMmEmfdGXdZvwLF-c9 h1 span {
      color: #a6d5cd; }
  @media screen and (max-width: 1200px) {
    .QdqAr08iIzV0N7tn1hiLA ._2iLkmMmEmfdGXdZvwLF-c9 {
      min-height: 600px; }
      .QdqAr08iIzV0N7tn1hiLA ._2iLkmMmEmfdGXdZvwLF-c9 h1 {
        font-size: 42px; } }
  @media screen and (max-width: 960px) {
    .QdqAr08iIzV0N7tn1hiLA ._2iLkmMmEmfdGXdZvwLF-c9 h1 {
      font-size: 36px; } }

.QdqAr08iIzV0N7tn1hiLA .ptV2wDUWHn9hW_M7LD-UN {
  background: #76b3a8;
  padding: 150px 3%; }
  .QdqAr08iIzV0N7tn1hiLA .ptV2wDUWHn9hW_M7LD-UN h2 {
    color: #032c4a;
    font-family: "volt", sans-serif;
    font-size: 48px;
    margin-bottom: 25px; }
  .QdqAr08iIzV0N7tn1hiLA .ptV2wDUWHn9hW_M7LD-UN p {
    color: white;
    font-family: "raleway-regular";
    font-size: 21px;
    line-height: 1.5; }
  .QdqAr08iIzV0N7tn1hiLA .ptV2wDUWHn9hW_M7LD-UN img {
    min-height: 250px; }
  .QdqAr08iIzV0N7tn1hiLA .ptV2wDUWHn9hW_M7LD-UN ._3y5u2Y9mQgkrbGrf-lM84Y {
    max-width: 550px; }
  .QdqAr08iIzV0N7tn1hiLA .ptV2wDUWHn9hW_M7LD-UN ._3hOw2gMB23PFhKP99pYBxg,
  .QdqAr08iIzV0N7tn1hiLA .ptV2wDUWHn9hW_M7LD-UN ._2jJAVKgnrQAtNy99Ydk90s {
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: space-around; }
  .QdqAr08iIzV0N7tn1hiLA .ptV2wDUWHn9hW_M7LD-UN ._2jJAVKgnrQAtNy99Ydk90s {
    padding-top: 150px; }
    .QdqAr08iIzV0N7tn1hiLA .ptV2wDUWHn9hW_M7LD-UN ._2jJAVKgnrQAtNy99Ydk90s a {
      margin: 0;
      width: 200px;
      color: white;
      text-decoration: none; }
  @media screen and (max-width: 1200px) {
    .QdqAr08iIzV0N7tn1hiLA .ptV2wDUWHn9hW_M7LD-UN {
      padding: 75px 3%; }
      .QdqAr08iIzV0N7tn1hiLA .ptV2wDUWHn9hW_M7LD-UN ._3hOw2gMB23PFhKP99pYBxg,
      .QdqAr08iIzV0N7tn1hiLA .ptV2wDUWHn9hW_M7LD-UN ._2jJAVKgnrQAtNy99Ydk90s {
        display: block; }
        .QdqAr08iIzV0N7tn1hiLA .ptV2wDUWHn9hW_M7LD-UN ._3hOw2gMB23PFhKP99pYBxg ._3y5u2Y9mQgkrbGrf-lM84Y,
        .QdqAr08iIzV0N7tn1hiLA .ptV2wDUWHn9hW_M7LD-UN ._2jJAVKgnrQAtNy99Ydk90s ._3y5u2Y9mQgkrbGrf-lM84Y {
          margin: auto;
          text-align: center; }
        .QdqAr08iIzV0N7tn1hiLA .ptV2wDUWHn9hW_M7LD-UN ._3hOw2gMB23PFhKP99pYBxg img:first-child,
        .QdqAr08iIzV0N7tn1hiLA .ptV2wDUWHn9hW_M7LD-UN ._2jJAVKgnrQAtNy99Ydk90s img:first-child {
          display: none; }
        .QdqAr08iIzV0N7tn1hiLA .ptV2wDUWHn9hW_M7LD-UN ._3hOw2gMB23PFhKP99pYBxg img:last-child,
        .QdqAr08iIzV0N7tn1hiLA .ptV2wDUWHn9hW_M7LD-UN ._2jJAVKgnrQAtNy99Ydk90s img:last-child {
          padding-top: 75px; }
      .QdqAr08iIzV0N7tn1hiLA .ptV2wDUWHn9hW_M7LD-UN ._2jJAVKgnrQAtNy99Ydk90s {
        padding-top: 75px; } }

.QdqAr08iIzV0N7tn1hiLA ._1_dl-6IRyo5kDBBTfB8g_O {
  background: #032c4a;
  padding: 76px 0 100px 0; }
  @media screen and (max-width: 575px) {
    .QdqAr08iIzV0N7tn1hiLA ._1_dl-6IRyo5kDBBTfB8g_O {
      padding: 25px 0 0; } }
  .QdqAr08iIzV0N7tn1hiLA ._1_dl-6IRyo5kDBBTfB8g_O h1 {
    color: #e9df81;
    text-align: center;
    font-size: 52px;
    font-family: "volt", sans-serif;
    padding-bottom: 25px; }

.QdqAr08iIzV0N7tn1hiLA ._1D3ESm8Vq2ezoWsovvZplP {
  padding: 150px 3%; }

@media screen and (max-width: 1200px) {
  .QdqAr08iIzV0N7tn1hiLA ._1D3ESm8Vq2ezoWsovvZplP {
    padding: 75px 3%; } }

._47VNg4TNDd5NnF6uSJ-PM {
  transform: translateY(10px); }

@font-face {
  font-family: 'volt';
  src: url("/static/fonts/Voltage Bold.otf"); }

@font-face {
  font-family: 'raleway-extrabold';
  src: url("/static/fonts/Raleway-ExtraBold.ttf"); }

@font-face {
  font-family: 'raleway-light';
  src: url("/static/fonts/Raleway-Light.ttf"); }

@font-face {
  font-family: 'raleway-regular';
  src: url("/static/fonts/Raleway-Regular.ttf"); }

@font-face {
  font-family: 'raleway-bold';
  src: url("/static/fonts/Raleway-Bold.ttf"); }

._2DT0Ezk-sOioAd2MpqpUI3 {
  width: 1525px;
  margin: auto; }
  @media screen and (max-width: 1640px) {
    ._2DT0Ezk-sOioAd2MpqpUI3 {
      width: 1300px; } }
  @media screen and (max-width: 1420px) {
    ._2DT0Ezk-sOioAd2MpqpUI3 {
      width: 875px; } }
  @media screen and (max-width: 1000px) {
    ._2DT0Ezk-sOioAd2MpqpUI3 {
      width: 450px; } }
  @media screen and (max-width: 575px) {
    ._2DT0Ezk-sOioAd2MpqpUI3 {
      width: 100%; } }

@font-face {
  font-family: 'volt';
  src: url("/static/fonts/Voltage Bold.otf"); }

@font-face {
  font-family: 'raleway-extrabold';
  src: url("/static/fonts/Raleway-ExtraBold.ttf"); }

@font-face {
  font-family: 'raleway-light';
  src: url("/static/fonts/Raleway-Light.ttf"); }

@font-face {
  font-family: 'raleway-regular';
  src: url("/static/fonts/Raleway-Regular.ttf"); }

@font-face {
  font-family: 'raleway-bold';
  src: url("/static/fonts/Raleway-Bold.ttf"); }

._1yLpjNyKTZoYHuY1yqdh30 {
  width: 475px;
  height: 475px;
  background-color: white;
  margin: auto; }
  @media screen and (max-width: 1640px) {
    ._1yLpjNyKTZoYHuY1yqdh30 {
      height: 400px;
      width: 400px; } }
  @media screen and (max-width: 575px) {
    ._1yLpjNyKTZoYHuY1yqdh30 {
      width: 100%; } }
  ._1yLpjNyKTZoYHuY1yqdh30 ._2QK4mqSyNtFDv-QPdyeHbL {
    height: 60%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center; }
    ._1yLpjNyKTZoYHuY1yqdh30 ._2QK4mqSyNtFDv-QPdyeHbL ._2wgJxkBCUCvsNP-k2tgW2B {
      padding-top: 5%;
      display: flex;
      align-items: center; }
      ._1yLpjNyKTZoYHuY1yqdh30 ._2QK4mqSyNtFDv-QPdyeHbL ._2wgJxkBCUCvsNP-k2tgW2B ._1noeolM_cbKqIRbRCYgaPr {
        font-family: "raleway-bold";
        height: 40px;
        padding: 10px 0;
        text-align: center;
        font-size: 16px;
        width: 40%;
        background: #e9df81;
        color: #032c4a; }
      ._1yLpjNyKTZoYHuY1yqdh30 ._2QK4mqSyNtFDv-QPdyeHbL ._2wgJxkBCUCvsNP-k2tgW2B .Gxwed2j4aT07sO-cbR6p- {
        border-top: 20px solid #e9df81;
        border-bottom: 20px solid #e9df81;
        border-right: 10px solid transparent;
        height: 0;
        width: 0; }
  ._1yLpjNyKTZoYHuY1yqdh30 ._2aEPoYjuM8nrVz2KFGw6Lq {
    width: 95%;
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; }
    ._1yLpjNyKTZoYHuY1yqdh30 ._2aEPoYjuM8nrVz2KFGw6Lq ._3MYSveXw6GbJNt41Mx7bT- {
      padding: 20px 0; }
      ._1yLpjNyKTZoYHuY1yqdh30 ._2aEPoYjuM8nrVz2KFGw6Lq ._3MYSveXw6GbJNt41Mx7bT- h4 {
        font-size: 16px;
        color: #032c4a;
        font-family: "raleway-bold"; }
      ._1yLpjNyKTZoYHuY1yqdh30 ._2aEPoYjuM8nrVz2KFGw6Lq ._3MYSveXw6GbJNt41Mx7bT- p {
        width: 100%;
        font-size: 15px;
        color: #adadad;
        font-family: "raleway-regular";
        padding: 15px 0 20px;
        overflow: hidden; }
      ._1yLpjNyKTZoYHuY1yqdh30 ._2aEPoYjuM8nrVz2KFGw6Lq ._3MYSveXw6GbJNt41Mx7bT- button {
        padding: 10px 20px; }

@font-face {
  font-family: 'volt';
  src: url("/static/fonts/Voltage Bold.otf"); }

@font-face {
  font-family: 'raleway-extrabold';
  src: url("/static/fonts/Raleway-ExtraBold.ttf"); }

@font-face {
  font-family: 'raleway-light';
  src: url("/static/fonts/Raleway-Light.ttf"); }

@font-face {
  font-family: 'raleway-regular';
  src: url("/static/fonts/Raleway-Regular.ttf"); }

@font-face {
  font-family: 'raleway-bold';
  src: url("/static/fonts/Raleway-Bold.ttf"); }

._2SiFoSqsocR4FZAvW8dr72 {
  display: flex;
  margin: auto;
  padding: 75px 0;
  max-width: 1200px; }
  ._2SiFoSqsocR4FZAvW8dr72:nth-child(even) {
    flex-direction: row-reverse; }
    ._2SiFoSqsocR4FZAvW8dr72:nth-child(even) .fZHe_5S3eQ3ZPLR5UXJL5 {
      padding-left: 0;
      padding-right: 5%; }
  ._2SiFoSqsocR4FZAvW8dr72 ._13QKrytPxEjekH1GOCQNY2 {
    align-self: center;
    position: relative;
    width: 40%; }
    ._2SiFoSqsocR4FZAvW8dr72 ._13QKrytPxEjekH1GOCQNY2 img {
      width: 100%;
      position: relative;
      z-index: 1; }
    ._2SiFoSqsocR4FZAvW8dr72 ._13QKrytPxEjekH1GOCQNY2 ._3QpQBByZ8uQHEDroU6QCts {
      position: absolute;
      z-index: 0;
      width: 100%;
      height: 100%;
      transform: translateY(-100%) rotate(5deg); }
  ._2SiFoSqsocR4FZAvW8dr72 .fZHe_5S3eQ3ZPLR5UXJL5 {
    width: 60%;
    padding-left: 5%;
    align-self: center; }
    ._2SiFoSqsocR4FZAvW8dr72 .fZHe_5S3eQ3ZPLR5UXJL5 h1,
    ._2SiFoSqsocR4FZAvW8dr72 .fZHe_5S3eQ3ZPLR5UXJL5 h2,
    ._2SiFoSqsocR4FZAvW8dr72 .fZHe_5S3eQ3ZPLR5UXJL5 h3,
    ._2SiFoSqsocR4FZAvW8dr72 .fZHe_5S3eQ3ZPLR5UXJL5 p {
      text-align: center; }
    ._2SiFoSqsocR4FZAvW8dr72 .fZHe_5S3eQ3ZPLR5UXJL5 h1 {
      font-family: "volt", sans-serif;
      color: #032c4a;
      font-size: 48px; }
    ._2SiFoSqsocR4FZAvW8dr72 .fZHe_5S3eQ3ZPLR5UXJL5 h2,
    ._2SiFoSqsocR4FZAvW8dr72 .fZHe_5S3eQ3ZPLR5UXJL5 h3 {
      font-family: "raleway-regular";
      color: #76b3a8; }
    ._2SiFoSqsocR4FZAvW8dr72 .fZHe_5S3eQ3ZPLR5UXJL5 h2 {
      padding-top: 10px;
      font-size: 20px; }
    ._2SiFoSqsocR4FZAvW8dr72 .fZHe_5S3eQ3ZPLR5UXJL5 h3 {
      font-size: 16px;
      padding-bottom: 20px; }
    ._2SiFoSqsocR4FZAvW8dr72 .fZHe_5S3eQ3ZPLR5UXJL5 p {
      font-family: "raleway-regular";
      color: #032c4a;
      line-height: 2;
      font-size: 15px; }

.tXI_Af6cMqZKzfp2P9At8 {
  background: white; }


/*# sourceMappingURL=styles.chunk.css.map*/