* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

li {
  list-style: none; }

._20QzFcLPlWfMAa4oCl1rkM {
  margin-left: 5px;
  transform: translateY(-2.5px); }

@font-face {
  font-family: "volt";
  src: url("/static/fonts/Voltage Bold.otf"); }

@font-face {
  font-family: "raleway-extrabold";
  src: url("/static/fonts/Raleway-ExtraBold.ttf"); }

@font-face {
  font-family: "raleway-light";
  src: url("/static/fonts/Raleway-Light.ttf"); }

@font-face {
  font-family: "raleway-regular";
  src: url("/static/fonts/Raleway-Regular.ttf"); }

.US1i8ceJRbcsr53kzy92p {
  position: relative;
  width: 100%;
  background: #8fc5bc;
  text-align: center;
  padding-top: 40px; }
  .US1i8ceJRbcsr53kzy92p img {
    width: 300px; }
  .US1i8ceJRbcsr53kzy92p ._3HeJm-bNSzK_5JvLuBf17V {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 40px;
    font-family: "raleway-extrabold"; }
    .US1i8ceJRbcsr53kzy92p ._3HeJm-bNSzK_5JvLuBf17V li {
      font-size: 16px;
      transition: 0.1s;
      cursor: pointer;
      letter-spacing: 2px;
      color: white;
      padding: 0px 18px 25px; }
    .US1i8ceJRbcsr53kzy92p ._3HeJm-bNSzK_5JvLuBf17V ._2-zPZJFoR7NRFQv6tTyodg {
      position: relative; }
      .US1i8ceJRbcsr53kzy92p ._3HeJm-bNSzK_5JvLuBf17V ._2-zPZJFoR7NRFQv6tTyodg ul {
        min-width: 270px;
        display: none;
        position: absolute;
        top: 44px;
        left: 15px;
        text-align: left; }
        .US1i8ceJRbcsr53kzy92p ._3HeJm-bNSzK_5JvLuBf17V ._2-zPZJFoR7NRFQv6tTyodg ul li {
          padding: 20px;
          background: #8fc5bc;
          border-top: 1px solid white; }
          .US1i8ceJRbcsr53kzy92p ._3HeJm-bNSzK_5JvLuBf17V ._2-zPZJFoR7NRFQv6tTyodg ul li:hover {
            background: #76b3a8; }
      .US1i8ceJRbcsr53kzy92p ._3HeJm-bNSzK_5JvLuBf17V ._2-zPZJFoR7NRFQv6tTyodg:hover ul {
        display: block; }

@font-face {
  font-family: "volt";
  src: url("/static/fonts/Voltage Bold.otf"); }

@font-face {
  font-family: "raleway-extrabold";
  src: url("/static/fonts/Raleway-ExtraBold.ttf"); }

@font-face {
  font-family: "raleway-light";
  src: url("/static/fonts/Raleway-Light.ttf"); }

@font-face {
  font-family: "raleway-regular";
  src: url("/static/fonts/Raleway-Regular.ttf"); }

._2V92VTr4YTW0IIYKc_Xq9G {
  z-index: 9999;
  position: relative;
  width: 100%;
  background: #8fc5bc;
  text-align: center;
  padding: 15px 0; }
  ._2V92VTr4YTW0IIYKc_Xq9G img {
    max-width: 200px;
    width: 40%; }
  ._2V92VTr4YTW0IIYKc_Xq9G ._3jdSyCwLqAQe7ns5-jGDp2 input[type="checkbox"] {
    display: none; }
  ._2V92VTr4YTW0IIYKc_Xq9G ._3jdSyCwLqAQe7ns5-jGDp2 input:checked ~ .OpxTQCv7b2-c1a4LMQJ5y {
    display: block; }
  ._2V92VTr4YTW0IIYKc_Xq9G ._3jdSyCwLqAQe7ns5-jGDp2 .fOmxWBG9x_fvW-E4hqkNu {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 9999; }
  ._2V92VTr4YTW0IIYKc_Xq9G ._3jdSyCwLqAQe7ns5-jGDp2 label {
    cursor: pointer; }
    ._2V92VTr4YTW0IIYKc_Xq9G ._3jdSyCwLqAQe7ns5-jGDp2 label ._1YxvQe_SuqV4LKU8RBrea6 {
      background: white;
      height: 2px;
      width: 40px;
      border-radius: 2px; }
    ._2V92VTr4YTW0IIYKc_Xq9G ._3jdSyCwLqAQe7ns5-jGDp2 label ._1YxvQe_SuqV4LKU8RBrea6:nth-child(2) {
      margin: 7px 0; }
  ._2V92VTr4YTW0IIYKc_Xq9G ._3jdSyCwLqAQe7ns5-jGDp2 .OpxTQCv7b2-c1a4LMQJ5y {
    padding-top: 50px;
    background: #8fc5bc;
    position: absolute;
    top: 0;
    left: 0;
    font-family: "raleway-extrabold";
    color: white;
    font-size: 16px;
    letter-spacing: 2px;
    display: none;
    width: 100%;
    text-align: center; }
    ._2V92VTr4YTW0IIYKc_Xq9G ._3jdSyCwLqAQe7ns5-jGDp2 .OpxTQCv7b2-c1a4LMQJ5y label {
      user-select: none; }
    ._2V92VTr4YTW0IIYKc_Xq9G ._3jdSyCwLqAQe7ns5-jGDp2 .OpxTQCv7b2-c1a4LMQJ5y li {
      border-top: 1px solid #aad1cb;
      padding: 15px 0; }
      ._2V92VTr4YTW0IIYKc_Xq9G ._3jdSyCwLqAQe7ns5-jGDp2 .OpxTQCv7b2-c1a4LMQJ5y li ._3oKlwk0Ct6i_aJseielkML:checked ~ ._1LtT-JS3423vMSB8FHH4uS {
        display: block;
        margin-bottom: -15px; }
      ._2V92VTr4YTW0IIYKc_Xq9G ._3jdSyCwLqAQe7ns5-jGDp2 .OpxTQCv7b2-c1a4LMQJ5y li ._276Qcgo6Ict3BKG4g4Bh9Z:checked ~ ._3JkYMB7BPEIP-hGNd7Yfzn {
        display: block;
        margin-bottom: -15px; }
      ._2V92VTr4YTW0IIYKc_Xq9G ._3jdSyCwLqAQe7ns5-jGDp2 .OpxTQCv7b2-c1a4LMQJ5y li ._2eb_zKZVff8JOu75JBVSC-:checked ~ ._5pKsTYMcvytep-8qacxU6 {
        display: block;
        margin-bottom: -15px; }
      ._2V92VTr4YTW0IIYKc_Xq9G ._3jdSyCwLqAQe7ns5-jGDp2 .OpxTQCv7b2-c1a4LMQJ5y li ._1LtT-JS3423vMSB8FHH4uS,
      ._2V92VTr4YTW0IIYKc_Xq9G ._3jdSyCwLqAQe7ns5-jGDp2 .OpxTQCv7b2-c1a4LMQJ5y li ._3JkYMB7BPEIP-hGNd7Yfzn,
      ._2V92VTr4YTW0IIYKc_Xq9G ._3jdSyCwLqAQe7ns5-jGDp2 .OpxTQCv7b2-c1a4LMQJ5y li ._5pKsTYMcvytep-8qacxU6 {
        display: none;
        margin-top: 15px;
        padding-bottom: 0;
        background: #76b3a8; }

@font-face {
  font-family: "volt";
  src: url("/static/fonts/Voltage Bold.otf"); }

@font-face {
  font-family: "raleway-extrabold";
  src: url("/static/fonts/Raleway-ExtraBold.ttf"); }

@font-face {
  font-family: "raleway-light";
  src: url("/static/fonts/Raleway-Light.ttf"); }

@font-face {
  font-family: "raleway-regular";
  src: url("/static/fonts/Raleway-Regular.ttf"); }

._4lkSwLZRVGCVsPJFOBMMz {
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden; }
  ._4lkSwLZRVGCVsPJFOBMMz img {
    width: 100%;
    transform: translateY(10px);
    z-index: 9999; }
  ._4lkSwLZRVGCVsPJFOBMMz ._3_XrnnEnEaAOuIZsZKX4Ez {
    padding-top: 100px;
    background: #002d49;
    width: 100%;
    height: 100%; }
    ._4lkSwLZRVGCVsPJFOBMMz ._3_XrnnEnEaAOuIZsZKX4Ez .II81dVGYJYsk0xwfxxbUL {
      max-width: 1200px;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center; }
      ._4lkSwLZRVGCVsPJFOBMMz ._3_XrnnEnEaAOuIZsZKX4Ez .II81dVGYJYsk0xwfxxbUL ._2UjG9qQv--9QPZwUEAUaUs {
        display: flex;
        font-family: "raleway-light";
        color: white;
        font-size: 14px;
        line-height: 2;
        letter-spacing: 1px; }
        ._4lkSwLZRVGCVsPJFOBMMz ._3_XrnnEnEaAOuIZsZKX4Ez .II81dVGYJYsk0xwfxxbUL ._2UjG9qQv--9QPZwUEAUaUs ._3YffozXSGVJMhcexzLhQfQ {
          padding-right: 50px; }
          ._4lkSwLZRVGCVsPJFOBMMz ._3_XrnnEnEaAOuIZsZKX4Ez .II81dVGYJYsk0xwfxxbUL ._2UjG9qQv--9QPZwUEAUaUs ._3YffozXSGVJMhcexzLhQfQ .pFdmpCvSZ3o3RTyhvCoGY {
            font-family: "raleway-extrabold"; }
      ._4lkSwLZRVGCVsPJFOBMMz ._3_XrnnEnEaAOuIZsZKX4Ez .II81dVGYJYsk0xwfxxbUL ._3pYMDdIQuwbTdJTjTW46XV {
        color: white;
        padding-left: 100px; }
        ._4lkSwLZRVGCVsPJFOBMMz ._3_XrnnEnEaAOuIZsZKX4Ez .II81dVGYJYsk0xwfxxbUL ._3pYMDdIQuwbTdJTjTW46XV h3 {
          font-family: "volt", sans-serif;
          font-size: 32px;
          margin-bottom: 10px; }
        ._4lkSwLZRVGCVsPJFOBMMz ._3_XrnnEnEaAOuIZsZKX4Ez .II81dVGYJYsk0xwfxxbUL ._3pYMDdIQuwbTdJTjTW46XV ._3do0oKwmm5DduScsx6moRQ ._1UcgeGMvQcrooDGlMJyFdK {
          display: flex;
          margin-bottom: 20px; }
          ._4lkSwLZRVGCVsPJFOBMMz ._3_XrnnEnEaAOuIZsZKX4Ez .II81dVGYJYsk0xwfxxbUL ._3pYMDdIQuwbTdJTjTW46XV ._3do0oKwmm5DduScsx6moRQ ._1UcgeGMvQcrooDGlMJyFdK input {
            font-family: "raleway-regular";
            font-size: 16px;
            width: 300px;
            padding: 20px 0 20px 15px;
            border-style: none;
            border: none;
            height: 56px; }
          ._4lkSwLZRVGCVsPJFOBMMz ._3_XrnnEnEaAOuIZsZKX4Ez .II81dVGYJYsk0xwfxxbUL ._3pYMDdIQuwbTdJTjTW46XV ._3do0oKwmm5DduScsx6moRQ ._1UcgeGMvQcrooDGlMJyFdK button {
            font-family: "raleway-extrabold";
            font-size: 16px;
            width: 100px;
            height: 56px;
            border-style: none;
            background: #76b3a8;
            color: white; }
          ._4lkSwLZRVGCVsPJFOBMMz ._3_XrnnEnEaAOuIZsZKX4Ez .II81dVGYJYsk0xwfxxbUL ._3pYMDdIQuwbTdJTjTW46XV ._3do0oKwmm5DduScsx6moRQ ._1UcgeGMvQcrooDGlMJyFdK span {
            border-top: 28px solid #76b3a8;
            border-bottom: 28px solid #76b3a8;
            border-right: 10px solid transparent;
            height: 0;
            width: 0; }
        ._4lkSwLZRVGCVsPJFOBMMz ._3_XrnnEnEaAOuIZsZKX4Ez .II81dVGYJYsk0xwfxxbUL ._3pYMDdIQuwbTdJTjTW46XV ._1ddtDgE4iLHzt1YNzaom42 {
          display: flex; }
          ._4lkSwLZRVGCVsPJFOBMMz ._3_XrnnEnEaAOuIZsZKX4Ez .II81dVGYJYsk0xwfxxbUL ._3pYMDdIQuwbTdJTjTW46XV ._1ddtDgE4iLHzt1YNzaom42 p {
            font-family: "raleway-regular";
            font-size: 16px;
            line-height: 1.5; }
          ._4lkSwLZRVGCVsPJFOBMMz ._3_XrnnEnEaAOuIZsZKX4Ez .II81dVGYJYsk0xwfxxbUL ._3pYMDdIQuwbTdJTjTW46XV ._1ddtDgE4iLHzt1YNzaom42 ._3llpJn-VnyVsle7gaXvirW {
            padding-right: 50px; }
          ._4lkSwLZRVGCVsPJFOBMMz ._3_XrnnEnEaAOuIZsZKX4Ez .II81dVGYJYsk0xwfxxbUL ._3pYMDdIQuwbTdJTjTW46XV ._1ddtDgE4iLHzt1YNzaom42 ._2v2aTW2OI5pY-eu1nzU_IL ._3sBTy3kj_bWxyzHf4Iln5N {
            color: #76b3a8;
            margin-right: 20px; }
  ._4lkSwLZRVGCVsPJFOBMMz ._2MsR2gjKcVKeb8rPm7RpwW {
    color: white;
    font-family: "raleway-regular";
    font-size: 12px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 25px; }
  @media screen and (max-width: 960px) {
    ._4lkSwLZRVGCVsPJFOBMMz img {
      min-width: 600px; }
    ._4lkSwLZRVGCVsPJFOBMMz ._3_XrnnEnEaAOuIZsZKX4Ez {
      padding: 100px 3% 0; }
      ._4lkSwLZRVGCVsPJFOBMMz ._3_XrnnEnEaAOuIZsZKX4Ez .II81dVGYJYsk0xwfxxbUL {
        display: block; }
        ._4lkSwLZRVGCVsPJFOBMMz ._3_XrnnEnEaAOuIZsZKX4Ez .II81dVGYJYsk0xwfxxbUL ._2UjG9qQv--9QPZwUEAUaUs {
          justify-content: center; }
          ._4lkSwLZRVGCVsPJFOBMMz ._3_XrnnEnEaAOuIZsZKX4Ez .II81dVGYJYsk0xwfxxbUL ._2UjG9qQv--9QPZwUEAUaUs ._3YffozXSGVJMhcexzLhQfQ:nth-child(1) {
            padding-right: 10%; }
          ._4lkSwLZRVGCVsPJFOBMMz ._3_XrnnEnEaAOuIZsZKX4Ez .II81dVGYJYsk0xwfxxbUL ._2UjG9qQv--9QPZwUEAUaUs ._3YffozXSGVJMhcexzLhQfQ:nth-child(2) {
            padding-right: 0; }
        ._4lkSwLZRVGCVsPJFOBMMz ._3_XrnnEnEaAOuIZsZKX4Ez .II81dVGYJYsk0xwfxxbUL ._3pYMDdIQuwbTdJTjTW46XV {
          text-align: center;
          padding: 0;
          margin-top: 50px; }
          ._4lkSwLZRVGCVsPJFOBMMz ._3_XrnnEnEaAOuIZsZKX4Ez .II81dVGYJYsk0xwfxxbUL ._3pYMDdIQuwbTdJTjTW46XV ._3do0oKwmm5DduScsx6moRQ {
            text-align: center; }
            ._4lkSwLZRVGCVsPJFOBMMz ._3_XrnnEnEaAOuIZsZKX4Ez .II81dVGYJYsk0xwfxxbUL ._3pYMDdIQuwbTdJTjTW46XV ._3do0oKwmm5DduScsx6moRQ ._1UcgeGMvQcrooDGlMJyFdK {
              justify-content: center; }
          ._4lkSwLZRVGCVsPJFOBMMz ._3_XrnnEnEaAOuIZsZKX4Ez .II81dVGYJYsk0xwfxxbUL ._3pYMDdIQuwbTdJTjTW46XV ._1ddtDgE4iLHzt1YNzaom42 {
            justify-content: center;
            margin-top: 50px; }
            ._4lkSwLZRVGCVsPJFOBMMz ._3_XrnnEnEaAOuIZsZKX4Ez .II81dVGYJYsk0xwfxxbUL ._3pYMDdIQuwbTdJTjTW46XV ._1ddtDgE4iLHzt1YNzaom42 ._3llpJn-VnyVsle7gaXvirW {
              padding-right: 4%; }
            ._4lkSwLZRVGCVsPJFOBMMz ._3_XrnnEnEaAOuIZsZKX4Ez .II81dVGYJYsk0xwfxxbUL ._3pYMDdIQuwbTdJTjTW46XV ._1ddtDgE4iLHzt1YNzaom42 ._2v2aTW2OI5pY-eu1nzU_IL {
              padding-left: 4%; }
              ._4lkSwLZRVGCVsPJFOBMMz ._3_XrnnEnEaAOuIZsZKX4Ez .II81dVGYJYsk0xwfxxbUL ._3pYMDdIQuwbTdJTjTW46XV ._1ddtDgE4iLHzt1YNzaom42 ._2v2aTW2OI5pY-eu1nzU_IL ._3sBTy3kj_bWxyzHf4Iln5N {
                margin: 5px; }
      ._4lkSwLZRVGCVsPJFOBMMz ._3_XrnnEnEaAOuIZsZKX4Ez ._2MsR2gjKcVKeb8rPm7RpwW {
        padding-top: 50px; } }


/*# sourceMappingURL=styles.chunk.css.map*/